# Secrets
.env

# Compiled Dirs
client/dist/bundle.js

# Dev Dependencies
node_modules

# Local tests
config.js
clover.xml
coverage-final.json
lcov.info
lcov-report

# Script Outputs and Unused DBs
server/data
server/scripts/seed.js
server/scripts/cassandraDB.js
database/mysqlConfig.js
